

:root {
    --main-color: #eee;
    --second-color: #d9d9d9;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f7f7f7
}

::-webkit-scrollbar-corner {
    background-color: #f7f7f7;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(90, 90, 90, 0.9);
    border-radius: 4px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    table-layout: fixed;
}

.container {
    width: 100%;
    height: 170px;
}

.main-table {
    font-weight: 600;
}

.main-table tbody tr td,
.main-table thead tr th {
    border: 1px solid var(--main-color);
    padding: 5px
}

.main-table thead tr th {
    background-color: #eee;
    width: 25%;
    text-align: left;
    position: relative;
}

.main-table thead tr th:hover {
    background-color: #d9d9d9;
    border-color: var(--second-color);
}

.main-table tbody tr td.no-padding {
    padding: 0;
    border: #eee;
}

/* Filters Menu */

.filters-menu-container::before {
    content: ' ';
    width: 33%;
    opacity: 0;
    height: 26px;
    position: absolute;
    top: -25px;
    left: 0;
}

.filters-menu-container {
    width: 50%;
    font-weight: 400;
    font-size: 10px;
    opacity: 0;
    position: absolute;
    top: 26px;
    left: 0;
    z-index: 1;
}

.filters-menu-container:hover {
    opacity: 1;
}

.filters-menu-container table tr {
    background-color: var(--main-color);   
}

.filters-menu-container table tr:hover {
    background-color: var(--second-color);
    border-color: var(--second-color);
}

.filters-menu-container table tr td {
    padding: 5px;
}

.filters-menu-container table tr td form input {
    width: 70px;
}

.filters-menu-container table tr td.center {
    text-align: center;
}

/* Internal Table */

.main-table tbody tr td .container-internal-table {
    width: 100%;
    height: 131px;
    overflow-y: overlay;
}

.main-table tbody tr td .container-internal-table .internal-table tbody {
    font-weight: 400;
}

.main-table tbody tr td .container-internal-table .internal-table tbody tr td  {
    /*border: 1px solid var(--main-color);*/
    width: 25%;
    position: relative;
}

.long-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    margin: 0;
}

/* Tooltip */

.tooltip {
    color: white;
    font-size: 10px;
    background-color: rgb(90, 90, 90, 0.9);
    width: 300px;
    border-radius: 5px;
    display: block;
    padding: 5px;
    opacity: 0;
    position: absolute;
    top: 25px;
    left: 21px;
    z-index: 1;
}

.tooltip:before {
    content: ' ';
    width: 100%;
    opacity: 0;
    height: 26px;
    position: absolute;
    top: -25px;
    left: -17px;
}

.tooltip:hover {
    opacity: 1;
}