.form-container {
   background-color: whitesmoke;
   padding: 5px;
}

.form-container .input {
   display: block;
}

.form-container .input-container {
   padding: 10px;
}

.form-container .label {
   display: block;
   padding: 10px;
}

.form-container div {
   display: inline-block;
   vertical-align: top;
}

.form-container .bottom {
   display: block;
   padding: 20px;
   height: 30px;
}

.form-container .column-1,.column-3 {
   width: 200px;
   padding: 10px;
}

.form-container .column-2,.column-4 {
   width: 400px;
   padding: 10px;
}

input {
   width: 340px;
}

.form-container .small-input {
   display: inline-block;
   width: 165px;
}

.form-container .bottom .button {
   width: 70px;
   height: 30px;
   background-color: coral;
   border: none;
   color: white;
   font-size: x-small;
   display: block;
}