.form-container {
   background-color: whitesmoke;
   padding: 5px;
}

.form-container div {
   display: inline-block;
   height: 120px;
   font-size: ;
}

.form-container .bottom {
   display: block;
   padding: 20px;
   height: 30px;
}

.form-container .column-1,.column-3 {
   width: 200px;
   padding: 10px;
}

.form-container .column-2,.column-4 {
   width: 400px;
   padding: 10px;
}

input {
   width: 340px;
}

.form-container .column-2 .input2,.input3 {
   width: 165px;
}

.form-container .column-4 .input1,.input2 {
   width: 165px;
}

.form-container .column-4 .input3 {
   width: 340px;
}

.form-container .bottom .buton {
   width: 70px;
   height: 30px;
   background-color: coral;
   border: none;
   color: white;
   font-size: x-small;
   display: block;
}