
body {
    height: 1000px;
}

.mega-square {
    width: 100px;
    height: 100px;
    background-color: #00aeef;
}

.mega-square-2 {
    width: 50px;
    height: 50px;
    background-color: #951f14;
}

.mega-square-3 {
    width: 100px;
    height: 100px;
    background-color: #3a7996;
}

.mega-square-4 {
    width: 100px;
    height: 100px;
    background-color: #000099;
}

.mega-square-5 {
    width: 100px;
    height: 100px;
    background-color: #99a3b5;
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: auto;
    grid-template-areas:
            "header header header ."
            "main main . sidebar"
            "footer footer footer footer"
    ;
    grid-auto-flow: dense;
}

.container .header {
    display: flex;
    grid-area: header;
}

.container .main {
    grid-area: main;
    display: flex;
}

.container .sidebar {
    grid-area: sidebar;
}

.container .footer {
    display: flex;
    grid-area: footer;
}

.container .elficty {

}