.in-line {
    display: block;
}

.element-1 input {
    display: inline;
}

.element-1 .input1 {
    display: block;
}

.element-2 input {
    display: inline;
}

.element-2 .input3 {
    display: block;
}