.body-container .input-name label {
    color: red;
}

.body-container .form-container label {
    color: blue;
}

.body-container .input-name span {
    color: white;
}

.body-container .input-name {
    background-color: black;
}





