* { box-sizing:border-box; }

:root {
    --first-blue: rgb(102, 197, 235);
    --second-blue: rgb(3, 97, 134);
    --nearby-clouds-shadow: rgb(3, 97, 134, .5);
    --distant-clouds-shadow: rgb(3, 97, 134, .8);
}

body {
    background-color: rgb(135, 206, 235);
    font-family: 'Open Sans', sans-serif;
}


.container {
    text-align: center;
    margin-top: 100px;
}

/* title */

h1 {
    font-size: 600;
    color: var(--second-blue);
}


/* Form */

.container .form-container {
    width: 380px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.container .form-container form .imput-container {
    width: 100%;
    height: 50px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    margin: 10px 0;
    padding: 10px;
    display: table;
    box-shadow: 5px 5px 5px 0px rgba(3, 97, 134, 0.1);
}

.container .form-container form .imput-container label {
    font-size: 10px;
    color: var(--second-blue);
}

.container .form-container form .imput-container input {
    display: table-cell;
    vertical-align: middle;
    outline: 0;
    border-width: 0 0 1px;
    border-color: var(--second-blue);
    background: transparent;
    width: 100%;
}

.container .form-container form .imput-container input:focus {
    border-color: rgb(255, 255, 255);
}

.submit {
    width: 100%;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 16PX;
    background-color: var(--second-blue);
    border: 0;
    border-radius: 2px;
    margin: 10px 0;
    padding: 10px;
    display: table;
    box-shadow: 5px 5px 5px 0px rgba(3, 97, 134, 0.1);
}


/* Clouds */

.container div[class^=nearby-cloud] {
    width: 200px;
    height: 200px;
    filter: drop-shadow(20px 20px 30px var(--nearby-clouds-shadow));
    z-index: 3;
}

.container .nearby-cloud-1 {
    position: absolute;
    top: 100px;
    left: 200px;
}

.container .nearby-cloud-2 {
    position: absolute;
    top: 300px;
    left: 1200px;
}

.container .nearby-cloud-3 {
    position: absolute;
    top: 480px;
    left: 900px;
}


.container div[class^=distant-cloud] {
    width: 100px;
    height: 100px;
    filter: drop-shadow(5px 5px 5px var(--distant-clouds-shadow));
    z-index: 1;
}

.container .distant-cloud-1 {
    position: absolute;
    top: 100px;
    left: 1000px;
}

.container .distant-cloud-2 {
    position: absolute;
    top: 350px;
    left: 100px;
}

.container .distant-cloud-3 {
    position: absolute;
    top: 600px;
    left: 350px;
}