* { box-sizing:border-box; }

:root {
    --first-blue: rgb(102, 197, 235);
    --second-blue: rgb(3, 97, 134);
    --nearby-clouds-shadow: rgb(3, 97, 134, .5);
    --distant-clouds-shadow: rgb(3, 97, 134, .5);
}

body {
    background-color: #87ceeb;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}


.container {
    text-align: center;
    margin-top: 100px;
}

/* title */

h1 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 600;
    color: var(--second-blue);
    z-index: 2;
}


/* Form */

.container .form-container {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}

.container .form-container form .imput-container {
    width: 100%;
    height: 50px;
    text-align: left;
    background-color: rgb(220, 241, 249);
    border-radius: 2px;
    margin: 10px 0;
    padding: 10px;
    display: table;
    box-shadow: 5px 5px 5px 0px rgba(3, 97, 134, 0.1);
}

.container .form-container form .imput-container label {
    font-size: 10px;
    color: var(--second-blue);
}

.container .form-container form .imput-container input {
    display: table-cell;
    vertical-align: middle;
    outline: 0;
    border-width: 0 0 1px;
    border-color: var(--second-blue);
    background: transparent;
    width: 100%;
}

.container .form-container form .imput-container input:focus {
    border-color: rgb(255, 255, 255);
}

.submit {
    width: 100%;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 16PX;
    background-color: var(--second-blue);
    border: 0;
    border-radius: 2px;
    margin: 10px 0;
    padding: 10px;
    display: table;
    box-shadow: 5px 5px 5px 0px rgba(3, 97, 134, 0.1);
}


/* Clouds */

.container div[class^=nearby-cloud] {
    width: 200px;
    height: 200px;
    filter: drop-shadow(20px 20px 40px var(--nearby-clouds-shadow));
    z-index: 4;
}

.container .nearby-cloud-1 {
    position: absolute;
    top: 10px;
    left: -200px;
    animation-name: near-clouds-left-to-right;
    animation-duration: 190s;
    animation-timing-function: linear;
}

.container .nearby-cloud-2 {
    position: absolute;
    top: 200px;
    left: -300px;
    animation-name: near-clouds-left-to-right;
    animation-duration: 230s;
    animation-timing-function: linear;
    animation-delay: 5s;
}

.container .nearby-cloud-3 {
    position: absolute;
    top: 320px;
    left: -200px;
    animation-name: near-clouds-left-to-right;
    animation-duration: 150s;
    animation-timing-function: linear;
}

.container .nearby-cloud-4 {
    position: absolute;
    top: 450px;
    left: -400px;
    animation-name: others-clouds-to-right;
    animation-duration: 200s;
    animation-timing-function: linear;
}


.container div[class^=distant-cloud] {
    width: 100px;
    height: 100px;
    filter: drop-shadow(5px 5px 5px var(--distant-clouds-shadow));
}

.container .distant-cloud-1 {
    position: absolute;
    top: 100px;
    left: 1450px;
    z-index: 1;

    animation-name: dist-clouds-right-to-left;
    animation-duration: 200s;
    animation-timing-function: linear;
}

.container .distant-cloud-2 {
    position: absolute;
    top: 200px;
    left: 1500px;
    z-index: 1;

    animation-name: dist-clouds-right-to-left;
    animation-duration: 220s;
    animation-timing-function: linear;
    animation-delay: 15s;
}

.container .distant-cloud-3 {
    position: absolute;
    top: 350px;
    left: 1500px;
    z-index: 1;

    animation-name: dist-clouds-right-to-left;
    animation-duration: 190s;
    animation-timing-function: linear;
}

.container .distant-cloud-4 {
    position: absolute;
    top: 650px;
    left: 1450px;
    z-index: 1;

    animation-name: dist-clouds-right-to-left;
    animation-duration: 180s;
    animation-timing-function: linear;
}

/* Plane */

.plane {
    width: 100px;
    height: 100px;
    filter: drop-shadow(5px 5px 5px var(--distant-clouds-shadow));
    position: absolute;
    top: 350px;
    left: calc(100vw);
    z-index: 3;

    animation-name: plane;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-delay: 25s;
    animation-fill-mode: forwards;
}

/* Paraglider */

.paraglider {
    width: 50px;
    height: 50px;
    opacity: 0;
    filter: drop-shadow(5px 5px 5px var(--distant-clouds-shadow));
    position: absolute;
    top: 350px;
    left: 750px;
    z-index: 3;

    animation-name: paraglider;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-delay: 34s;
    animation-fill-mode: forwards;
}


/* Animations */

@keyframes dist-clouds-right-to-left {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-1500px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes near-clouds-left-to-right {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(1700px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes plane {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    45% {
        transform: translateX(-700px) translateY(20px);
    }
    50% {
        transform: translateX(-750px)translateY(-30px) ;
    }
    55% {
        transform: translateX(-800px) translateY(-10px);
    }
    100% {
        transform: translateX(-1600px);
    }
}

@keyframes paraglider {
    0% {
        transform: translateX(0px) translateY(0px);
        opacity: 0;
    }
    10% {
        opacity: 0.5;
    }
    100% {
        transform: translateX(300px) translateY(400px);
        opacity: 1;
    }
}