* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.yellow {
    background-color: gold;
}

.red {
    background-color: red;
}

.grey {
    background-color: darkgrey;
}

.blue {
    background-color: rgb(0, 155, 192);
}


.border-bottom {
    border-bottom: cornflowerblue;
}


.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}


.block {
    display: block;
}

.inline-block {
    display: inline-block;
}


.grid-1 {
    width: 33%;
}

.grid-2 {
    width: 66%;
}

.grid-3 {
    width: 100%;
}


/*HEADER*/

.header {
    width: 100%;
}

.header .head-container {
    max-width: 1360px;
    width: 100%;
    height: 75px;
    margin: 0 auto;
}

.header .head-container div {
    display: inline-block;
}

.header .head-container div[class*=hd-] {
    padding: 10px;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.header .head-container .container-left {
    float: left;
    display: inline-table;
    height: 100%;
}

.header .head-container .container-left .hd-brand .logo {
    width: auto;
    max-height: 55px;
    height: 100%;
}

.header .head-container .container-right {
    float: right;
    display: inline-table;
    height: 100%;
    padding: 5px;
}

.header .head-container .container-right .hd- div {
    margin: 0px 5px;
}

.header .head-container .container-right .hd- .hd-log-in {
    color: white;
    background-color: black;
}

.header .head-container .container-right .hd-social-networks div {
    width: 34px;
    height: 34px;
    margin: 0px 5px;
    padding: 9px;
    text-align: center;
}


.header .menu-container {
    width: 100%;
    background-color: black;
}

.header .menu-container .container-buttons {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    height: 38px;
}

.header .menu-container .container-buttons .buttons {
    text-align: justify;
}

.header .menu-container .container-buttons .buttons:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.header .menu-container .container-buttons .buttons li {
    display: inline-block;
    color: white;
    padding: 10px;
}

/*Advertising*/

.ad {
    width: 200px;
    height: 200px;
    color: white;
    background-color: red;
    position: absolute;
    left: 0;
    top: 600px;
}


/*BODY*/

.body-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0 20px 0px;
}



.body-container .en-vivo-container {
    display: table;
    height: 52px;
    width: 100%;
}

.body-container .en-vivo-container .en-vivo {
    height: 100%;
    padding: 5px 10px;
    margin: 0px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.body-container .en-vivo-container .en-vivo .title {
    font-size: x-large;
}

.body-container .en-vivo-container .en-vivo .plus {
    color: white;
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 25px;
}



.body-container .coronavirus {
    margin: 20px 0px;
}



.body-container .containerA {
    margin: 0 0 15px 0;
}

.body-container .containerA div {
    display: inline-block;
    padding: 0px 15px;
}


.body-container .containerA .main-news {
    position: relative;
}

.body-container .containerA .main-news .text-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

.body-container .containerA .main-news .text-container .text {
    background-color: black;
    opacity: 80%;
    color: white;
    width: 100%;
    padding: 10px;
}

.body-container .containerA .main-news .text-container .text .category {
    width: 100%;
    font-size: small;
    padding: 0;
}

.body-container .containerA .main-news .text-container .text .title {
    font-size: xx-large;
    padding: 0;
}

.body-container .containerA .main-news .img-container {
    padding: 0;
}


.body-container .containerA .second-main-news {
    vertical-align: top;
    position: relative;
}

.body-container .containerA .second-main-news > div {
    border-bottom: solid .5px red;
    padding: 0;
}

.body-container .containerA .second-main-news .img-container,
.body-container .containerA .second-main-news .text {
    width: 50%;
    padding: 0px 3px;
}

.body-container .containerA .second-main-news .text .title {
    padding: 0px 15px 15px;
}

.body-container .containerA .second-main-news .text .category {
    width: 100%;
    padding: 0px 15px;
    font-size: small;
}



.body-container .containerB div.sub-B {
    float: left;
    padding: 0px 15px;
}


.body-container .containerB .news-container {
    position: relative;
}

.body-container .containerB .news-container .img-container {
    width: 100%;
    overflow: hidden;
}

.body-container .containerB .news-container div[class^=news] {
    margin: 0px 0px 20px;
}

.body-container .containerB .news-container .news1,
.body-container .containerB .news-container .news4,
.body-container .containerB .news-container .news5 {
    border-bottom: solid 0.5px rgb(0, 155, 192);
}


.body-container .containerB .news-container .news1 {
    height: 560px;
}

.body-container .containerB .news-container .news1 .text .title {
    width: 100%;
    font-size: large;
    padding: 0;
}

.body-container .containerB .news-container .news1 .text .category {
    width: 100%;
    font-size: small;
    padding: 0;
}


.body-container .containerB .news-container .news2 {
    color: white;
    padding: 15px;
    height: 270px;
    display: inline-table;
}

.body-container .containerB .news-container .news2 .text {
    display: table-cell;
    vertical-align: middle;
}

.body-container .containerB .news-container .news2 .text .title {
    width: 100%;
    font-size: xx-large;
    text-align: left;
    padding: 0;
}

.body-container .containerB .news-container .news2 .text .category {
    width: 100%;
    font-size: small;
    padding: 0;
    margin-top: 10px;
}


.body-container .containerB .news-container .opinion {
    color: black;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 25px;
}

.body-container .containerB .news-container .news3 {
    color: white;
    padding: 15px;
    height: 270px;
    display: inline-table;
    background-color: black;
}

.body-container .containerB .news-container .news3 .text {
    display: table-cell;
    vertical-align: middle;
}

.body-container .containerB .news-container .news3 .text .title {
    width: 100%;
    font-size: xx-large;
    text-align: left;
    padding: 0;
}

.body-container .containerB .news-container .news3 .text .preview {
    width: 100%;
    font-size: small;
    padding: 0;
    margin-top: 10px;
}

.body-container .containerB .news-container .news3 .text .category {
    width: 100%;
    font-size: small;
    padding: 0;
    margin-top: 10px;
}



.body-container .containerB .news-container .news4 {
    height: 270px;
}

.body-container .containerB .news-container .news4 .text .title {
    width: 100%;
    font-size: large;
    padding: 0;
}

.body-container .containerB .news-container .news4 .text .category {
    width: 100%;
    font-size: small;
    padding: 0;
}



.body-container .containerB .news-container .news5 {
    height: 270px;
}

.body-container .containerB .news-container .news5 .text .title {
    width: 100%;
    font-size: large;
    padding: 0;
}

.body-container .containerB .news-container .news5 .text .category {
    width: 100%;
    font-size: small;
    padding: 0;
}



.body-container .containerC div.sub-C {
    float: left;
    padding: 0px 15px;
}

.body-container .containerC .news-container .img-container {
    width: 100%;
    overflow: hidden;
}

.body-container .containerC .news-container div[class^=news] {
    margin: 0px 0px 20px;
}

.body-container .containerC .news-container .news1,
.body-container .containerC .news-container .news2,
.body-container .containerC .news-container .news3 {
    border-bottom: solid 0.5px rgb(0, 155, 192);
}


.body-container .containerC .news-container .news1 {
    height: 270px;
}

.body-container .containerC .news-container .news1 .text .title {
    width: 100%;
    font-size: large;
    padding: 0;
}

.body-container .containerC .news-container .news1 .text .category {
    width: 100%;
    font-size: small;
    padding: 0;
}


.body-container .containerC .news-container .news2 {
    height: 270px;
}

.body-container .containerC .news-container .news2 .text .title {
    width: 100%;
    font-size: large;
    padding: 0;
}

.body-container .containerC .news-container .news2 .text .category {
    width: 100%;
    font-size: small;
    padding: 0;
}


.body-container .containerC .news-container .news3 {
    height: 270px;
}

.body-container .containerC .news-container .news3 .text .title {
    width: 100%;
    font-size: large;
    padding: 0;
}

.body-container .containerC .news-container .news3 .text .category {
    width: 100%;
    font-size: small;
    padding: 0;
}