
#wall {
    overflow: hidden;
    width: max-content;
}

.red-bricks {
    width: 20px;
    height: 12px;
    background-color: rgb(189, 60, 0);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 3px;
    display: inline-block;
}

.grey-bricks {
    width: 20px;
    height: 12px;
    background-color: rgb(211, 211, 211);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 3px;
    display: inline-block;
}