:root {
    --element-color: #ff3335;
    --second-color: #490001;
    --hover-color: #ff9000;
}

.container {
    float: left;
    width: 200px;
    height: 200px;
    background-color: #eee;
    border: 1px solid #dee0e2;
    margin: 5px;
    display: inline-table;
}

.container .element-container {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    position: relative;
}

.container .element-container div {
    margin: 0 auto;
}


/* triangle */

.container .element-container div[class^=triangle] {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 43.3px solid var(--element-color);
}

.container .element-container div[class^=triangle]:hover {
    border-bottom-color: var(--hover-color);
    transition: 1s;
}


.container .element-container .triangle-2 {
    transform: rotate(120deg);
    position: absolute;
    top: 46px;
    left: 6.1px;

}

.container .element-container .triangle-2:hover {
    transform: scale(1.2) rotate(120deg);
}

.container .element-container .triangle-3 {
    transform: rotate(240deg);
    position: absolute;
    top: 46px;
    left: 43.6px;
}

/* square */

.container .element-container div[class^=square] {
    width: 0;
    height: 0;
    border-left: 64.9px solid transparent;
    border-right: 64.9px solid transparent;
    border-bottom: 64.9px solid var(--element-color);
}

.container .element-container .square-2,
.container .element-container .square-4 {
    border-bottom-color: var(--second-color);
}

.container .element-container div[class^=square]:hover {
    border-bottom-color: var(--hover-color);
    transition: 1s;
}

.container .element-container .square-1 {;
    position: absolute;
    top: 66px;
    left: 35px;
    z-index: 1;
}

.container .element-container .square-2 {
    transform: rotate(90deg);
    position: absolute;
    top: 34px;
    left: 3px;
    z-index: 1;
}

.container .element-container .square-3 {
    transform: rotate(180deg);
    position: absolute;
    top: 1px;
    left: 35px;
    z-index: 2;
}

.container .element-container .square-4 {
    transform: rotate(270deg);
    position: absolute;
    top: 34px;
    left: 67px;
    z-index: 2;
}


/* pentagon */

.container .element-container div[class^=pentagon] {
    width: 0;
    height: 0;
    border-left: 42.5325px solid transparent;
    border-right: 42.5325px solid transparent;
    border-bottom: 61.8034px solid var(--element-color);
}

.container .element-container div[class^=pentagon]:hover {
    border-bottom-color: var(--hover-color);
    transition: 1s;
}

.container .element-container .pentagon-2 {
    transform: rotate(72deg);
    position: absolute;
    top: 50.5px;
    left: 29.7px;
}

.container .element-container .pentagon-3 {
    transform: rotate(144deg);
    position: absolute;
    top: 17.7px;
    left: 40.5px;
}

.container .element-container .pentagon-4 {
    transform: rotate(216deg);
    position: absolute;
    top: 17.7px;
    left: 74.5px;
}

.container .element-container .pentagon-5 {
    transform: rotate(288deg);
    position: absolute;
    top: 50.5px;
    left: 85.3px;
}

/* hexagon */

.container .element-container div[class^=hexagon] {
    width: 0;
    height: 0;
    border-left: 37.45px solid transparent;
    border-right: 37.45px solid transparent;
    border-bottom: 64.5px solid var(--element-color);
}

.container .element-container div[class^=hexagon]:hover {
    border-bottom-color: var(--hover-color);
    transition: 1s;
}

.container .element-container .hexagon-2 {
    transform: rotate(60deg);
    position: absolute;
    top: 51px;
    left: 34.5px;
}

.container .element-container .hexagon-3 {
    transform: rotate(120deg);
    position: absolute;
    top: 18.5px;
    left: 34.5px;
}

.container .element-container .hexagon-4 {
    transform: rotate(180deg);
    position: absolute;
    top: 2px;
    left: 62.5px;
}

.container .element-container .hexagon-5 {
    transform: rotate(240deg);
    position: absolute;
    top: 18.5px;
    left: 90.4px;
}

.container .element-container .hexagon-6 {
    transform: rotate(300deg);
    position: absolute;
    top: 51px;
    left: 90.4px;
}

/* heptagon */

.container .element-container div[class^=heptagon] {
    width: 0;
    height: 0;
    border-left: 29.64px solid transparent;
    border-right: 29.64px solid transparent;
    border-bottom: 61.57px solid var(--element-color);
}

.container .element-container div[class^=heptagon]:hover {
    border-bottom-color: var(--hover-color);
    transition: 1s;
}

.container .element-container .heptagon-2 {
    transform: rotate(51.42deg);
    position: absolute;
    top: 57.5px;
    left: 46.2px;
}

.container .element-container .heptagon-3 {
    transform: rotate(102.82deg);
    position: absolute;
    top: 31.5px;
    left: 40px;
}

.container .element-container .heptagon-4 {
    transform: rotate(154.26deg);
    position: absolute;
    top: 10.5px;
    left: 56.5px;
}

.container .element-container .heptagon-5 {
    transform: rotate(205.68deg);
    position: absolute;
    top: 10.5px;
    left: 83.3px;
}

.container .element-container .heptagon-6 {
    transform: rotate(257.1deg);
    position: absolute;
    top: 31.3px;
    left: 100px;
}

.container .element-container .heptagon-7 {
    transform: rotate(308.52deg);
    position: absolute;
    top: 57.4px;
    left: 94.4px;
}

/* yingyang */

.yingyang {
    width: 50px;
    box-sizing: content-box;
    height: 96px;
    background: var(--second-color);
    border-color: var(--element-color);
    border-style: solid;
    border-width: 2px 50px 2px 2px;
    border-radius: 100%;
    position: relative;
}

.yingyang:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    background: var(--second-color);
    border: 18px solid var(--element-color);
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}

.yingyang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--element-color);
    border: 18px solid var(--second-color);
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}