* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../Homework/imgs/intro2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    font-family: 'Raleway',sans-serif;
}


.container {
    display: grid;
    grid-template:
        [header-start] "head" auto [header-end]
        [menu-start] "menu" auto [menu-end]
        [body-start] "body" auto [body-end]
        [footer-star] "footer" auto [footer-end]
        / auto;

    width: 100%;
}

/* head */

.container .header {
    grid-area: head;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container .header img {
    width: 243px;
}

/* end head */

/* menu */

.container .menu-container {
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    height: 70px;
    color: rgb(255, 255, 255);
    background-color: rgb(18, 28, 33);
    padding: 0 10px;
    position: relative;
}

.container .menu-container div {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
}

.container .menu-container .menu::before {
    content: ' ';
    width: 30px;
    opacity: 0;
    height: 26px;
    position: absolute;
    top: -48px;
    right: 13px;
}

.container .menu-container .menu {
    position: absolute;
    top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    padding: 0;
    opacity: 0;
}

.container .menu-container .menu:hover {
    opacity: 1;
}

.container .menu-container .menu div {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 70px;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
}

.container .menu-container .menu div:hover {
    background-color: rgb(18, 28, 33);
}

.container .menu-container .menu div i {
    margin-right: 5px;
}

/* tablet and desktop */

@media screen and (min-width: 576px) and (max-width: 768px), (min-width: 769px) {
    .container .menu-container {
        background-color: rgba(18, 28, 33, .8);
    }

    .container .menu-container .menu-title,
    .container .menu-container .hamburguer-menu {
        display: none;
    }

    .container .menu-container .menu {
        position: unset;
        flex-direction: initial;
        justify-content: center;
        width: 100%;
        opacity: 1;
    }

    .container .menu-container .menu div {
        background-color: transparent;
        width: fit-content;
    }

    .container .menu-container .menu .home {
        border-bottom: 3px solid rgb(255, 196, 0);
    }
}

/* end menu */

/* body */

.container .body {
    grid-area: body;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 0 20px;
}

    /* search-container */

.container .body .search-container {
    display: none;
    flex-direction: column;

    animation-name: swipe-up-search-container;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.container .body .search-container > div {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 0 20px;
}

.container .body .search-container .sentence {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 5px;
}

.container .body .search-container .finder {
    position: relative;
}

.container .body .search-container .finder form {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px;
    border-radius: 8px;
}

.container .body .search-container .finder form input {
    width: 320px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: rgb(197, 197, 197);
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
    font-weight: 200;
}

.container .body .search-container .finder form i {
    position: absolute;
    top: 18px;
    right: 35px;
    font-size: 22px;
    color: rgb(197, 197, 197);
    cursor: pointer;
}

.container .body .search-container .scroll-down {
    color: rgb(255, 255, 255);
    font-size: 24px;

    animation-name: scroll-down;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes swipe-up-search-container {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes scroll-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width: 769px) {
    .container .body .search-container {
        display: flex;

        animation-play-state: running;
    }
}
    /* end-search-container */


.container .body .seasons-container {
    display: flex;
    flex-flow: row wrap;
}

.container .body .seasons-container > div {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
}

.container .body .seasons-container > div img {
    width: 100%;
    height: 100%;
}

/* tablet */

@media screen and (min-width: 576px) and (max-width: 768px) {
    .container .body {
        justify-content: space-around;
    }

    .container .body .seasons-container > div {
        width: 50%;
    }
}

/* desktop */

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .container .body {
        justify-content: space-around;
    }

    .container .body .seasons-container > div {
        width: 33.3%;
    }
}

/* L-desktop */

@media screen and (min-width: 1200px) {
    .container .body {
        justify-content: space-around;
    }

    .container .body .seasons-container > div {
        width: 33.3%;
    }
}

/* end body */

/* footer */

.container .footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    color: rgb(168, 168, 168);
    background-color: rgb(255, 255, 255);
    height: 70px;
    padding: 10px;
}

.container .footer div span {
    text-align: center;
    font-weight: 200;
}

.container .footer div span.final-text {
    font-size: 12px;
    letter-spacing: 2px;
}

.container .footer div span.copyright {
    font-size: 10px;
}

/* end footer */
